/* Global Styling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  width: 100%;
  height: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  background-color: rgb(186, 186, 186);
}

button {
  cursor: pointer;
}

.line {
  background-color: rgb(129, 129, 129);
  margin: 0 10px;
  width: auto;
  height: 1px;
}

/* Workspace Styling */
#workspace-container {
  background-color: #ababab;
}

#workspace {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: radial-gradient(#c2c2c2 8%, transparent 8%), rgb(255, 255, 255);
  background-position: 0 0, 25px 25px;
  background-size: 25px 25px;
  border: 1px solid #ccc;
}

/* Output Box */
#output {
  resize: vertical;
  min-height: 100px;
  max-height: 500px;
  height: 80px;
  width: auto;
  background: #272822;
  color: #fff;
  font-family: monospace;
  padding: 10px;
  overflow: auto;
  border-radius: 10px;
}

/* Controls Styling */
#controls {
  flex-wrap: wrap;
  display: flex;
  max-width: fit-content;
  padding: 5px 20px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: Arial;
  background-color: rgb(234, 234, 234);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 70px;
  gap: 10px;
}

#controls button {
  cursor: pointer;
  height: 30px;
  width: auto;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: black;
  font-family: Arial;
  padding: 5px 10px;
  background-color: rgb(175, 175, 175);
  border: none;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

#controls button:hover {
  background-color: #cccccc;
}

.input {
  border-radius: 5px;
}

/* Elements Styling */
.element {
  position: absolute;
  border: 1px dashed #000;
  cursor: move;
}

/* Context Menu */
.context-menu {
  border-radius: 10px;
  position: absolute;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  z-index: 1000;
}

.context-menu-item {
  padding: 7px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.context-menu-item:hover {
  background-color: #f1f1f1;
}

.context-menu.visible {
  display: block;
}

/* Element */
.element {
  width: 100px;
  height: 100px;
  background-color: none;
  margin: 10px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: move;
}

/* Copy btn */
.copy-btn {
  padding: 5px 5px;
  margin-right: 10px;
}

.copy-btn button {
  max-width: 120px;
  display: flex;
  margin-left: 10px;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  color: gray;
  padding: 5px;
  float: right;
  border: none;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn {
  cursor: pointer;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.btn:hover {
  text-decoration: none;
}

.effect01 {
  color: #FFF;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.effect01:hover {
  background-color: #e4e4e4;
  box-shadow: 0px 0px 0px 4px #EEE inset;
}

.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}

.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

.effect01:after {
  background: #FFF;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: .8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.effect01:hover:after {
  background: #FFF;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

/*Pop-Up Message*/
.toast {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-family: Arial, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 1000;
}

/* Trigger animation */
.toast.show {
  animation: bounceDown 0.6s ease forwards;
  opacity: 1;
  visibility: visible;
}

/* Pop-Up Message */
@keyframes bounceDown {
  0% {
    top: -50px;
    opacity: 0;
  }

  60% {
    top: 30px;
    opacity: 1;
  }

  80% {
    top: 15px;
  }

  100% {
    top: 20px;
  }
}

/* Selection Box */
.selection-box {
  border: 2px solid lightnavy;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.4);
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}
/* Resizer Handle*/
.resizer {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 21, 254);
  border-radius: 50%;
  z-index: 10;
  overflow: hidden;
}

/* Responsiveness */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* Custom Scroll Bar*/
::-webkit-scrollbar {
  width: 8px;
  /*Vertical*/
  height: 8px;
  /*Horizontal*/
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(79, 79, 79);
}

/* FullScreen-1-Box */
#fullscreen-1 {
  cursor: pointer;
  display: flex;
  padding: 5px 20px;
  margin: 20px;
  align-items: center;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

#fullscreen-1 img {
  height: 25px;
  width: auto;
}

#fullscreen-1 span {
  display: flex;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
}

#fullscreen-1:hover {
  background-color: rgba(128, 128, 128, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* MEnu-Box */
.menu-button {
  cursor: pointer;
  display: flex;
  padding: 5px 20px;
  margin: 20px;
  align-items: center;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.menu-button img {
  height: 20px;
  width: auto;
}

.menu-button:hover {
  background-color: rgba(101, 101, 101, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.menu-box {
  position: relative;
  display: inline-block;
}

/* Sub-Menu-Box */
.menu-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1000;
  min-width: 200px;
}

.menu-content span {
  border-radius: 4px;
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease;
}

.menu-content span:hover {
  background-color: #e0e0e0;
}

/*Font Formate menu*/
#font-format-menu {
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 1000;
  min-width: 200px;
}

#font-format-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#font-format-menu ul li {
  border-radius: 7px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#font-format-menu ul li:last-child {
  border-bottom: none;
}

#font-format-menu ul li:hover {
  background-color: #cfcfcf;
}

#font-format-menu ul li img {
  margin-right: 10px;
}

#font-format-menu ul li input[type="number"],
#font-format-menu ul li select,
#font-format-menu ul li input[type="range"] {
  margin-left: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 4px;
}

#font-format-menu ul li input[type="range"] {
  width: 100%;
  margin-left: 0;
}

/* Dropdown for Input Type */
#input-format {
  display: none;
  position: absolute;
  top: 8%;
  background-color: white;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-width: 200px;
  padding: 10px;
  z-index: 10000;
}

#input-format ul {
  margin: 0;
  padding: 0;
}

#input-format ul li {
  border-radius: 7px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#input-format ul li:hover {
  background-color: rgb(175, 175, 175);
}

/* Dropdown for Webpage BG */
#webpage-bg-d {
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 8%;
  background-color: white;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  z-index: 100000;
  min-width: 200px;
  padding: 5px;
}

#webpage-bg-d ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#webpage-bg-d ul li {
  border-radius: 7px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

#webpage-bg-d ul li:hover {
  background-color: rgb(216, 216, 216);
}

#webpage-bg-d ul li button {
  background-color: transparent;
}

#webpage-bg-d ul li button:hover{
  background-color: transparent;
}
